@use "../../styles/utils/grid.scss" as *;
@use "../../styles/utils/vars" as *;
@use "../../styles/utils/mixins" as *;
@use "../../styles/fonts/typography.scss" as *;
@use "../../styles/App.scss" as *;

.capacity {

  &__body {
    margin-top: 24px;
    width: 100%;
    text-decoration: none;
  }

  &__container {
    display: flex;
    margin: 8px 0 24px;
  }

  &__link {
    text-decoration: none;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    @include body-text;

    color: $secondary-color;
  }

  &__button {
    margin-right: 8px;
  }
}

.line {
  height: 1px;
  width: 100%;
  background-color: $elements-color;
}
