@use '../../styles/fonts/typography.scss' as *;

.button__icon {
  position: relative;
  cursor: pointer;
  margin: 0;
  padding: 0;
  height: 30px;
  width: 30px;

  background-color: transparent;
  border: 0;
}

.button__icon .tooltipText {
  @include body-text;
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.button__icon:hover .tooltipText {
  visibility: visible;
}
