@use "../../styles/App.scss" as *;
@use "../../styles/utils/mixins" as *;
@use "../../styles/utils/grid.scss" as *;
@use "../../styles/fonts/typography.scss" as *;
@use "../../styles/utils/vars" as *;

.header {
  display: flex;
  justify-content: space-between;
}

.contact {
  margin: 0 auto;
  width: 100%;
  position: relative;
}

.itCareers {
  width: 100%;
  height: 200px;

  border-radius: 5px;
}

.card {
  width: 250px;
}

.title {
  @include desktop-tablet-h1;

  font-size: 80px;
  text-align: left;
}

.subtitle {
  @include desktop-tablet-h2;
}

.img {
  opacity: 1;
  border-radius: 10px;
  height: 500px;
  width: 100%;
  object-fit: cover;
  object-position: left;

  border: 1px solid $secondary-color;

}

.image__container {
  display: flex;
  border-radius: 5px;
  align-items: center;
  rotate: (-10deg);
}

.about__top {
  margin-top: 150px;
}

.info {
  transition: 0.5s ease;
  opacity: 0;

  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.name {
  @include desktop-tablet-h3;

  color: $primary-color;
}

.devops {
  @include desktop-tablet-h4;

  color: $secondary-color;
}

.link {
  margin-right: 10px;
  color: $secondary-color;
  text-decoration: none;
}

.links {
  display: flex;
}


.bio {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact__top {
  margin-top: 30px;
}

.icon {
  display: flex;
  height: 40px;
  width: 40px;
}

.phrase {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  @include desktop-tablet-h4;

  color: $primary-color;
}

.text {
  @include body-text;
}

.about__project {
  height: 100%;
  display: flex;
}
