@use "../../styles/App.scss" as *;
@use "../../styles/utils/mixins" as *;
@use "../../styles/utils/grid.scss" as *;
@use "../../styles/fonts/typography.scss" as *;
@use "../../styles/utils/vars" as *;

.header {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.section {
  height: 100vh;

  @include onMobile {
    justify-content: center;
  }

  @include onTablet {
    justify-content: center;
  }

  @include onDesktop {
    justify-content: center;
    align-items: center;
  }
}

.contact {
  margin: 0 auto;
  width: 100%;
  position: relative;
}

.itCareers {
  width: 100%;
  height: 300px;

  border-radius: 5px;

  @include onMobile {
    height: 100%;
  }

  @include onTablet {
    height: 100%;
  }

  @include onDesktop {
    height: 300px;
  }
}

.title {
  @include desktop-tablet-h1;
  margin: 0;
  padding: 0;

  text-align: left;

  @include onMobile {
    @include mobile-h1;

    text-align: center;
  }
}

.titlePhrase {
  @include desktop-tablet-h2;

  @include onMobile {
    @include mobile-h2;

    margin-top: 10px;
    text-align: justify;
  }

  @include onTablet {
    margin-top: 20px;
  }

  @include onDesktop {
    margin: 0;
  }
}

.subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  @include desktop-tablet-h2;

  @include onMobile {
    @include mobile-h2;
  }
}

.img {
  opacity: 1;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: left;

  border: 1px solid $secondary-color;

  @include onMobile {
    margin: 5px 0;
  }

  @include onTablet {
    margin: 20px 0;
  }

  @include onDesktop {
    margin-top: 0;
  }
}

.image__container {
  display: grid;
  border-radius: 5px;
  height: 50%;
  place-items: center;

  @include onTablet {
    rotate: (0deg);
  }

  @include onMobile {
    rotate: (0deg);
  }

  @include onDesktop {
    rotate: (-10deg);
  }
}

.about__top {
  @include onMobile {
    margin: 0;
  }

  @include onTablet {
    margin: 0;
  }

  @include onDesktop {
    margin-top: 25px;
  }
}

.name {
  @include desktop-tablet-h3;

  color: $primary-color;
}

.devops {
  @include body-text;

  color: $secondary-color;

  @include onMobile {
    margin-bottom: 8px;
  }

  @include onTablet {
    margin-bottom: 8px;
  }

  @include onDesktop {
    margin-bottom: 0;
  }
}

.link {
  margin-right: 10px;
  color: $secondary-color;
  text-decoration: none;
}

.links {
  display: flex;
}

.bio {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include onMobile {
    align-items: center;
  }

  @include onTablet {
    align-items: center;
  }

  @include onDesktop {
    align-items: start;
  }
}

.contact__top {
  margin-top: 50px;
}

.icon {
  display: flex;
  height: 25px;
  width: 25px;
}

.phrase {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  @include body-text;
  font-style: italic;
  font-size: 16px;
  text-align: right;

  @include onMobile {
    text-align: center;
    display: none;
  }

  @include onTablet {
    text-align: center;
    display: none;
  }

  @include onDesktop {
    text-align: right;
    display: flex;
  }

  color: $primary-color;

  @include onMobile {
    font-size: 16px;
  }
}

.text {
  @include body-text;

  text-align: justify;
}

.about {
  &__header {
    margin-top: 100px;
  }

  &__project {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__footer {
    margin-bottom: 100px;
  }
}
