@use "../../styles/App.scss" as *;
@use "../../styles/utils/mixins" as *;
@use "../../styles/utils/grid.scss" as *;
@use "../../styles/fonts/typography.scss" as *;
@use "../../styles/utils/vars" as *;
@use "../../components/ProductCard/product-card.module.scss" as *;

.container__top {
  margin-top: 24px;
}

.container__center {
  display: flex;
  align-items: center;
}

.container__margin_text {
  margin-top: 8px;
}

.icon {
  height: $icon-size;
  margin-right: 8px;
}

.title {
  margin: 0;
  @include desktop-tablet-h1;

  @include onMobile {
    @include mobile-h1;
  }
}

.section__margin {
  margin-top: 40px;

  @include onMobile {
    margin-top: 24px;
  }
}

.text {
  @include small-text;
  color: $secondary-color;

  &__disabled {
    margin-left: 8px;
    display: inline-block;
  }
}

.catalog {
  display: grid;
  grid-template-columns: repeat(4, $card);
  padding: 24px;
  margin: 0 auto;
  max-width: 1200px;
  gap: 16px;

  @media (max-width: 1199px) {
    justify-content: center;
    grid-template-columns: repeat(3, $card);
  }

  @media (max-width: 767px) {
    justify-content: center;
    grid-template-columns: repeat(2, $card);
  }

  @media (max-width: 639px) {
    justify-content: center;
    grid-template-columns: repeat(1, $card);
  }
}

.loader {
  margin-top: $margin-for-loader;
}
