@use "../styles/utils/mixins" as *;
@import "./fonts/fonts.scss";


* {
  margin: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 32px;

  @include onMobile {
    padding: 0 16px;
  }

  @include onTablet {
    padding: 0 24px;
  }
}

.mainContainer {
  min-height: calc(100vh - 146px);
  padding: 20px 0;
}
