$primary-color: #313237;
$secondary-color: #89939a;
$icons-color: #b4bdc3;
$elements-color: #e2e6e9;
$hover-background-color: #fafbfc;
$hover-background-color-alpha: rgba(0, 0, 0, 0.5);
$white-color: #fff;
$green-accent-color: #27ae60;
$red-accent-color: #eb5757;

$global-font-family: "Mont", sans-serif;
$icon-size: 16px;
$margin-for-loader: 70px;
$card: 229px;
