@use "../../styles/utils/vars" as *;
@use "../../styles/utils/mixins" as *;
@use "../../styles/fonts/typography" as *;

.container {
  margin-bottom: 16px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  border: 1px solid $elements-color;
  transition: box-shadow 0.3s ease-in-out;
  background-color: $white-color;

  &:hover {
    box-shadow: 0 0 30px $elements-color;
  }

  @include onTablet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 24px;
  }

  &__section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
  }

  &__delete-button {
    border: transparent;
    background: $white-color;
    cursor: pointer;
  }

  &__product-description {
    display: inline-block;
    text-decoration: none;
    @include button-text;
    color: $primary-color;
  }

  &__remaining-count {
    font-weight: 500;

    opacity: 0.8;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  &__photo-container {
    width: 70px;
    height: 70px;
  }

  &__image {
    height: 66px;
  }

  &__counter {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__count {
    @include button-text;
  }

  &__price {
    @include mobile-h2;
  }
}

.is-disabled-button {
  color: $elements-color;
}

.is-active-button {
  color: $primary-color;
}
