@use "../../styles/utils/vars" as *;
@use "../../styles/fonts/typography.scss" as *;
@use "../../styles/utils/mixins" as *;

$bottom-height: 64px;

.top-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  &__img {
    @include onMobile {
      height: 20.8px;
      width: 64px;
    }
  }
}

.burger {
  &__top {
    height: 48px;
    padding-left: 16px;
    margin-bottom: 32px;

    border-bottom: 1px solid $secondary-color;

    &_close {
      display: block;
      height: 48px;
      padding: 16px;

      border-left: 1px solid $secondary-color;
    }
  }

  &__content {
    height: 100vh;
    padding: 0;
    margin: 0;
  }

  &__list {
    display: block;
    padding: 0;

    text-align: center;
    list-style: none;
  }

  &__item {
    margin-bottom: 24px;
  }

  &__link {
    @include uppercased-text;
    padding-bottom: 8px;

    font-weight: 800;
    color: $secondary-color;
    text-decoration: none;

    border-bottom: 1px solid transparent;
    transition: border-color 0.3s;

    &:hover {
      color: $primary-color;
      border-color: $primary-color;
    }

    &:active {
      color: $primary-color;
      border-color: $primary-color;
    }
  }

  &__bottom {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: $bottom-height;

    align-items: center;

    &-icon {
      height: $bottom-height;
      width: 50%;

      border: 1px solid transparent;
      border-top: 1px solid $secondary-color;
      padding: 22px 72px;
      text-align: center;

      &--left {
        border-left: 1px solid $secondary-color;
      }

      &:active {
        border-bottom: 2px solid $primary-color;
      }
    }
  }
}
