@use "../../../../styles/utils/vars" as *;
@use "../../../../styles/fonts/typography" as *;

.button {
  @include button-text;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100%;
  background-color: $primary-color;
  border: 1px solid transparent;
  color: $white-color;
  transition: box-shadow 0.3s ease-out;
  cursor: pointer;

  &:hover {
    box-shadow: 0 3px 13px rgba(23, 32, 49, 0.4);
    transition: box-shadow 0.3s ease-out;
  }

  &.higlighted {
    border: 1px solid $elements-color;
    background-color: $white-color;
    color: $green-accent-color;

    &:hover {
      box-shadow: 0 3px 13px rgba(23, 32, 49, 0.05);
    }
  }
}
