@import "../../styles/utils/mixins";
@import "../../styles/fonts/typography.scss";
@import "../../styles/utils/vars";

$heigth: 400px;
$height-tablet: 189px;
$height-mobile: 320px;

.bunner__slider {
  position: relative;
  width: 100%;
  margin: 0 auto 66px;
  padding: 0;
  height: 400px;

  @include onTablet {
    margin-bottom: 74px;
    padding: 0 50px;
  }

  @include onDesktop {
    margin-bottom: 90px;
    padding: 0 50px;
  }

  & .swiper-slide {
    width: 100%;

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      cursor: pointer;
    }
  }

  & .swiper {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  & .arrow-left {
    position: absolute;
    top: 0;
    display: none;
    width: 32px;
    height: 100%;
    border: 1px solid $icons-color;
    cursor: pointer;
    left: 0;

    &:hover {
      border: 1px solid $primary-color;
      transform: scale(1.01);
    }

    @include onDesktop {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    @include onTablet {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  & .arrow-right {
    position: absolute;
    top: 0;
    display: none;
    width: 32px;
    height: 100%;
    border: 1px solid $icons-color;
    cursor: pointer;
    right: 0;

    &:hover {
      border: 1px solid $primary-color;
      transform: scale(1.01);
    }

    @include onDesktop {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    @include onTablet {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  & .custom-pagination {
    display: flex;
    justify-content: center;
    gap: 14px;
    width: 100%;

    & .swiper-pagination-bullet {
      position: relative;
      bottom: -18px;
      width: 14px;
      height: 6px;
      background-color: $elements-color;
    }

    & .swiper-pagination-bullet-active {
      background-color: $primary-color;
      border: none;
    }
  }
}
