@use "../../styles/utils/vars" as *;
@use "../../styles/utils/mixins" as *;
@use "../../styles/fonts/typography" as *;

$button-size: 32px;
$footer-padding: 32px;
$element-transition: 0.5s ease-in-out;

.container {
  width: 100%;
  background-color: $white-color;
  position: relative;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;

  height: 320px;
  padding: 35px 16px;
  box-shadow: 0 -1px 0 $elements-color;

  @include onTablet {
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

    padding: $footer-padding;
    height: 96px;
  }

  @include onDesktop {
    padding: $footer-padding 152px;
  }

  &__top-action {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    border: none;
    cursor: pointer;
    background-color: $white-color;
    padding: 20px;
    @include small-text;
    color: $secondary-color;
    transition: color $element-transition;

    &:hover {
      color: $primary-color;
    }

    &-arrow {
      transform: rotate(-90deg);
    }
  }

  &__logo {
    height: 30px;
  }

  &__nav-list {
    display: flex;
    flex-direction: column;

    padding: 0;
    margin: 0;
    list-style: none;

    @include onTablet {
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
    }

    &-item {
      @include onTablet {
        margin-right: 15px;
      }

      @include onDesktop {
        margin-right: 105px;
      }
    }

    &-link {
      text-decoration: none;
      color: $secondary-color;
      @include uppercased-text;

      display: inline-block;
      padding: 15px 0;
      transition: color 0.5s ease-in-out;

      &:hover {
        color: $primary-color;
      }
    }
  }
}
