@import "../../styles/utils/mixins";
@import "../../styles/utils/vars";
@import "../../styles/fonts/fonts.scss";

* {
  box-sizing: border-box;
}

.container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 320px;
  padding: 35px 16px;
  box-shadow: 0 -1px 0 #e2e6e9;

  @include onTablet {
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

    padding: 32px;
    height: 96px;
  }

  @include onDesktop {
    padding: 32px 152px;
  }

  &__top-action {
    display: flex;
    align-items: center;
    justify-content: center;

    &-message {
      font-weight: 300;
      font-size: 12px;
      line-height: 15px;
      font-family: "Mont", sans-serif;
      color: $secondary-color;
      letter-spacing: 0.1em;
      margin-right: 16px;
    }

    &-arrow {
      transform: rotate(180deg);
    }

    &-button {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 32px;
      height: 32px;
      padding: 0;
      border: 1px solid $icons-color;
      background-color: $white-color;
      cursor: pointer;

      &:hover {
        border-color: $primary-color;
        transition: border-color 0.5s ease-in-out;
      }
    }
  }

  &__logo {
    height: 30px;
  }

  &__nav-list {
    display: flex;
    flex-direction: column;

    padding: 0;
    margin: 0;
    list-style: none;

    @include onTablet {
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
    }

    &-item {
      @include onTablet {
        margin-right: 15px;
      }

      @include onDesktop {
        margin-right: 105px;
      }
    }

    &-link {
      text-decoration: none;
      color: $secondary-color;
      text-transform: uppercase;
      font-weight: 800;
      font-family: "Mont", sans-serif;
      font-size: 12px;
      line-height: 11px;
      letter-spacing: 0.04em;
      display: inline-block;
      padding: 15px 0;
      transition: color 0.5s ease-in-out;

      &:hover {
        color: $primary-color;
      }
    }
  }
}
