@use "../../styles/utils/grid.scss" as *;
@use "../../styles/utils/vars" as *;
@use "../../styles/utils/mixins" as *;
@use "../../styles/fonts/typography.scss" as *;
@use "../../styles/App.scss" as *;

.color__body {
  width: 100%;
}

.color__container {
  display: flex;
  margin: 8px 0 24px;
}

.color__title {
  display: flex;
  justify-content: space-between;
  @include body-text;

  color: $secondary-color;
}

.color__button {
  margin-right: 8px;
}

.line {
  height: 1px;
  width: 100%;
  background-color: $elements-color;
}

.id__text {
  opacity: 1;

  @include onMobile {
    opacity: 1;
  }

  @include onTablet {
    opacity: 1;
  }

  @include onDesktop {
    opacity: 0;
  }
}
