@use "../../styles/utils/mixins" as *;
@use "../../styles/utils/grid.scss" as *;
@use "../../styles/fonts/typography.scss" as *;
@use "../../styles/utils/vars" as *;
@use "../../styles/App.scss" as *;

.container__top {
  margin-top: 24px;
}

.container__center {
  display: flex;
  align-items: center;
}

.container__margin_text {
  margin-top: 8px;
}

.icon {
  height: $icon-size;
  margin-right: 8px;
}

.title {
  margin: 0;
  @include desktop-tablet-h1;

  @include onMobile {
    @include mobile-h1;
  }
}

.section__margin {
  margin-top: 40px;

  @include onMobile {
    margin-top: 24px;
  }
}

.text {
  @include small-text;
  color: $secondary-color;

  &__disabled {
    margin-left: 8px;
    display: inline-block;
  }
}
