@use "../../styles/App.scss" as *;
@use "../../styles/utils/mixins" as *;
@use "../../styles/utils/grid.scss" as *;
@use "../../styles/fonts/typography.scss" as *;
@use "../../styles/utils/vars" as *;
@use "../../styles/utils/mixins" as *;

.icon {
  height: $icon-size;
}

.container {
  width: 100%;
}

.container__top {
  margin-top: 24px;
}

.container__center {
  display: flex;
  align-items: center;
  gap: 8px;
}

.container__margin_text {
  margin-top: 8px;
}

.title {
  margin: 16px 0 0;
  @include desktop-tablet-h1;

  @include onMobile {
    @include mobile-h1;
  }
}

.section__margin {
  margin-top: 40px;
}

.text {
  @include small-text;
  color: $primary-color;
  line-height: 12px;

  &__disabled {
    display: inline-block;
    color: $secondary-color;
  }
}

.link {
  text-decoration: none;
}

.button__back {
  padding: 0;
  margin-top: 40px;

  @include onMobile {
    margin-top: 24px;
  }
}

.phone {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  margin: 0 auto;
  padding: 24px;
  max-width: 1200px;
  gap: 64px;

  @media (max-width: 1199px) {
    justify-content: center;
    grid-template-columns: repeat(8, 1fr);
  }

  @media (max-width: 767px) {
    justify-content: center;
    grid-template-columns: repeat(8, 1fr);
  }

  @media (max-width: 639px) {
    justify-content: center;
    grid-template-columns: repeat(1, 1fr);
  }
}

.about {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  margin: 0 auto;
  padding: 24px;
  max-width: 1200px;
  gap: 64px;

  @media (max-width: 1199px) {
    justify-content: center;
    grid-template-columns: 1fr;
  }

}

.info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  gap: 16px;
}

.template {
  border: solid 1px black;
}
