@use "../../styles/App.scss" as *;
@use "../../styles/utils/mixins" as *;
@use "../../styles/utils/grid.scss" as *;
@use "../../styles/fonts/typography.scss" as *;
@use "../../styles/utils/vars" as *;
@use "../../styles/utils/mixins" as *;

.icon {
  height: $icon-size;
}

.container {
  width: 100%;
}

.container__top {
  margin-top: 24px;
}

.container__center {
  display: flex;
  align-items: center;
  gap: 8px;
}

.container__margin_text {
  margin-top: 8px;
}

.title {
  margin: 16px 0 0;
  @include desktop-tablet-h1;

  @include onMobile {
    @include mobile-h1;
  }
}

.section__margin {
  margin-top: 40px;
}

.block__margin {
  margin-bottom: 80px;

  @include onTablet {
    margin-bottom: 64px;
  }

  @include onMobile {
    margin-bottom: 56px;
  }
}

.text {
  @include small-text;
  color: $primary-color;
  line-height: 12px;
}

.photo__block {
  grid-row: 1 / 4;
}

.link {
  text-decoration: none;
}

.button__back {
  padding: 0;
  margin-top: 40px;

  @include onMobile {
    margin-top: 24px;
  }
}

.template {
  border: solid 1px black;
}

.recommendedProducts__wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 60px;
}

.color__margin__top {
  @include onMobile {
    margin-top: 40px;
  }
}

.id__body {
  display: flex;
  justify-content: right;

  @include onMobile {
    display: none;
  }

  @include onTablet {
    display: none;
  }

  @include onDesktop {
    display: flex;
  }
}

.id__title {
  @include body-text;

  color: $secondary-color;

  @include onMobile {
    display: none;
  }

  @include onTablet {
    display: none;
  }

  @include onDesktop {
    display: flex;
  }
}

.price__body {
  margin-top: 32px;
  display: flex;
  align-items: center;
}

.product__price {
  @include desktop-tablet-h2;
  margin-right: 8px;
}

.product__fullprice {
  @include desktop-tablet-h3;
  font-weight: 500;
  text-decoration: line-through;

  color: $secondary-color;
}

.cart__body {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}

.favourites__button {
  margin-left: 8px;
}

.main__info {
  margin-top: 32px;

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__item-title {
    color: $secondary-color;
    @include body-text;

    font-size: 12px;
  }

  &__item-info {
    color: $primary-color;
    @include body-text;

    font-size: 12px;
  }
}

.loader {
  margin-top: 20vh;
}
